/** media query **/

@media (min-width: 1366px) and (max-width: 1400px){

.loads-wrap .reset-link {
    display: flex;        
    align-items: center;
}
}




@media (min-width: 1200px) and (max-width: 1366px){
    .call-to-action-wrap {
    gap: 50px;
}
.btn-style1 {
    white-space: nowrap;
}
.loads-wrap .reset-link {
    display: flex;        
    align-items: center;
}
    section.profile-edit-sec table.table thead {
        white-space: nowrap;
    }
    .login-banner-wrap .banner-text h1 br {
    display: none;
}
}



@media (min-width: 1100px) and (max-width: 1200px){
    .call-to-action-wrap {
    gap: 50px;
}
.login-banner-wrap .banner-text h1 br {
    display: none;
}
.btn-style1 {
    white-space: nowrap;
}
.values-wrap {
    flex-direction: column;
    text-align: center;
}
section.inner-banner-sec .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
}
.table-responsive-wrap {
    max-width: 1200px;
    width: 100%;
    overflow-x: auto;   
    overflow-y: hidden;
}
.top-results-sec .table-container thead{
    white-space: pre;
}
.top-results-sec .table-header {
    flex-wrap: wrap;
}
.top-results-sec .search-sort {
    flex-wrap: wrap;
}
.top-results-sec .search-sort form {
    flex-wrap: wrap;
}
.top-results-sec .table-header {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.aspectratio {
    display: none;
}
.date-input {
    width: 300px;
}
.loads-wrap {
    overflow-x: auto;
}
.loads-wrap .reset-link {
    display: flex;
    align-items: center;
}
section.profile-edit-sec table.table thead {
    white-space: nowrap;
}
.industries-wrap ul li {
    width: calc(26% - 18px) !important;
}
}




@media (min-width: 1024px) and (max-width: 1100px){
.industries-wrap ul {
    gap: 10px;
    justify-content: center;
}

section.buy-membership-now-sec .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
}

section.buy-membership-now-sec .row .row {
    row-gap: 30px;
}
.industries-wrap ul li {
    width: calc(33% - 10px);
    border-right: none;
    border-bottom: none;
    border: 1px solid #fff !important;
}
.call-to-action-wrap {
    gap: 50px;
}
.btn-style1 {
    white-space: nowrap;
}
.values-wrap {
    flex-direction: column;
    text-align: center;
}
section.inner-banner-sec .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
}
.table-responsive-wrap {
    max-width: 1200px;
    width: 100%;
    overflow-x: auto;   
    overflow-y: hidden;
}
.top-results-sec .table-container thead{
    white-space: pre;
}
.top-results-sec .table-header {
    flex-wrap: wrap;
}
.top-results-sec .search-sort {
    flex-wrap: wrap;
}
.top-results-sec .search-sort form {
    flex-wrap: wrap;
}
.top-results-sec .table-header {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.aspectratio {
    display: none;
}
.date-input {
    width: 300px;
}
.loads-wrap {
    overflow-x: auto;
}
.loads-wrap .reset-link {
    display: flex;
    align-items: center;
}
    section.profile-edit-sec table.table thead {
        white-space: nowrap;
    }
     .banner-wrap .banner-text {
    width: 60% !important;
}
.banner-wrap .banner-text{
    width: 100% !important;
}
.login-banner-wrap .login-wrap ul li {
    width: 100% !important;
}
.banner-wrap .login-wrap {
    width: 62%!important;
}
section.login-banner-wrap .login-wrap ul li .btn-style1 h5 {
    display: block !important;
    white-space: break-spaces !important;
}
.login-banner-wrap .banner-text h1 br {
    display: none;
}
.industries-wrap ul li {
    width: calc(26% - 18px) !important;
}
.container {
    max-width: 95%;
}
}



@media (min-width: 993px) and (max-width: 1024px){
    section.profile-edit-sec table.table thead {
        white-space: nowrap;
    }

section.buy-membership-now-sec .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
}

section.buy-membership-now-sec .row .row {
    row-gap: 30px;
}
  .industries-wrap ul {
    gap: 10px;
    justify-content: center;
}
.industries-wrap ul li {
    width: calc(33% - 10px);
    border-right: none;
    border-bottom: none;
    border: 1px solid #fff !important;
}  
.call-to-action-wrap {
    gap: 50px;
}
.btn-style1 {
    white-space: nowrap;
}
.values-wrap {
    flex-direction: column;
    text-align: center;
}
section.inner-banner-sec .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
}
.table-responsive-wrap {
    max-width: 1200px;
    width: 100%;
    overflow-x: auto;   
    overflow-y: hidden;
}
.top-results-sec .table-container thead{
    white-space: pre;
}
.top-results-sec .table-header {
    flex-wrap: wrap;
}
.top-results-sec .search-sort {
    flex-wrap: wrap;
}
.top-results-sec .search-sort form {
    flex-wrap: wrap;
}
.top-results-sec .table-header {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.aspectratio {
    display: none;
}
.date-input {
    width: 300px;
}
.loads-wrap {
    overflow-x: auto;
}
.loads-wrap .reset-link {
    display: flex;
    align-items: center;
}
.banner-wrap .banner-text{
    width: 100%;
}
.login-banner-wrap .login-wrap ul li {
    width: 100%;
}
.banner-wrap .login-wrap {
    width: 62%;
}
section.login-banner-wrap .login-wrap ul li .btn-style1 h5 {
    display: block;
    white-space: break-spaces;
}
 .banner-wrap .banner-text {
    width: 60% !important;
}
.banner-wrap .banner-text{
    width: 100% !important;
}
.login-banner-wrap .login-wrap ul li {
    width: 100% !important;
}
.banner-wrap .login-wrap {
    width: 62%!important;
}
section.login-banner-wrap .login-wrap ul li .btn-style1 h5 {
    display: block !important;
    white-space: break-spaces !important;
}
.login-banner-wrap .banner-text h1 br {
    display: none;
}
.industries-wrap ul li {
    width: calc(26% - 18px) !important;
}
.container {
    max-width: 95% !important;
}
} 

@media (min-width: 768px) and (max-width: 993px){
 .banner-wrap .banner-text {
    width: 60% !important;
}
.container {
    max-width: 95% !important;
}
section.buy-membership-now-sec .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
}

section.buy-membership-now-sec .row .row {
    row-gap: 30px;
}
.login-banner-wrap .banner-text h1 br {
    display: none;
}
.banner-wrap .banner-text{
    width: 100% !important;
}
.login-banner-wrap .login-wrap ul li {
    width: 100% !important;
}
.banner-wrap .login-wrap {
    width: 62%!important;
}
section.login-banner-wrap .login-wrap ul li .btn-style1 h5 {
    display: block !important;
    white-space: break-spaces !important;
}
.footer-box {
    margin-top: 30px;
}
.btn-style1 {
    white-space: nowrap;
}
footer .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
}
footer .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
}
footer .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
.banner-wrap .login-wrap {
    width: 60%;
}
section.benefits-sec .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
}
section.benefits-sec .row .row {
    row-gap: 30px;
}
section.benefits-sec {
    position: relative;
    background-size: cover !important;
}
section.why-choose-sec .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
.why-choose-wrap figure img {
    width: 100%;
}

.why-choose-wrap {
    margin-bottom: 30px;
}
.benefits-box .count-size {
    left: 30%;
}
.industries-wrap ul {
    gap: 10px;
    justify-content: center;
}
.industries-wrap ul li {
    width: calc(33% - 10px);
    border-right: none;
    border-bottom: none;
    border: 1px solid #fff !important;
}
section.inner-banner-sec .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
}
.values-wrap {
    flex-direction: column;
    text-align: center;
}
#myHeader .nav-wrap nav.navbar ul.navbar-nav li a {
    color: #fff;
    padding: 10px;
}
.profile-wrap>ul>li>a {
    color: #ffffff !important;
    padding: 10px;
}
.industries-wrap ul li {
    width: calc(33.33% - 18px) !important;
}
}


/* media query max-width 993 */
@media(max-width: 993px){
.container {
    max-width: 95%;
}
.never-run-empty-img figure img {
    width: 100% !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    background: #fff;
}
.navbar-toggler {
    margin: 0px;
}
.navbar-toggler i {
    font-size: 24px;
}
.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1f376b;
    padding: 10px;
}

.login-wrap ul {
    flex-direction: column;
}

.nav-wrap nav.navbar ul.navbar-nav li a {
    margin-right: 0px;
    margin-bottom: 10px;
}
.logo-box {
    margin-bottom: 10px;
}
header .login-wrap-home {
    padding: 10px 0px;
}
.table-responsive-wrap {
    max-width: 1200px;
    width: 100%;
    overflow-x: auto;   
    overflow-y: hidden;
}
.top-results-sec .table-container thead{
    white-space: pre;
}
.top-results-sec .table-header {
    flex-wrap: wrap;
}
.top-results-sec .search-sort {
    flex-wrap: wrap;
}
.top-results-sec .search-sort form {
    flex-wrap: wrap;
}
.top-results-sec .table-header {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.aspectratio {
    display: none;
}
.date-input {
    width: 300px;
}
.loads-wrap {
    overflow-x: auto;
}
.loads-wrap .reset-link {
    display: flex;
    align-items: center;
}
section.profile-edit-sec {
    margin-top: 0px;
    padding-top: 30px;
}
section.profile-edit-sec table.table thead {
    white-space: nowrap;
}
.making-freight-box .inner-freight-box {
    width: 100%;
}
section.profile-banner-sec {
    margin-top: 70px;
}
.why-choose-wrap figure img {
    width: 100% !important;
}
}


/* media query max-width 767 */ 

@media(max-width: 767px){
.container {
    max-width: 95% !important;
}



.img-wrap2 {
    padding: 0px 20px;
}
.logistics-bg{ 
    display: none;
}
.profile-wrap>ul>li>a {
    color: #ffffff !important;
}
.banner-wrap .banner-text {
    width: 100%;
}
.banner-wrap .login-wrap {
    width: 100%;
}
section.login-banner-wrap .login-wrap ul li .btn-style1 h5 {
    white-space: break-spaces;
}
.discounted-wrap .card {
    width: calc(100% - 20px) !important;
}
.never-run-text-text h2 {
    font-size: 36px;
}
.loads-wrap .reset-link {
    display: flex;
    align-items: center;
}
.never-run-text-text ul li h3 {
    font-size: 36px;
}
.never-run-text-text ul {
    margin-top: 20px;
}
section.discounted-sec {
    padding: 40px 0px;
}
section.buy-membership-now-sec .row .row {
    row-gap: 30px;
}
.buy-membership-wrap .price {
    font-size: 30px;
}
.profile-wrapper .profile-head {
    flex-direction: column;
    gap: 10px;
}
.profile-wrapper .profile {
    white-space: nowrap;
}
.profile-wrapper {
    padding: 15px;
}
.profile-wrapper .browse {
    white-space: nowrap;
}
.profile-wrapper .step {
    padding-left: 0px !important;
    gap: 20px;
    align-items: center !important;
}
.loads-wrap {
    overflow-x: auto;
}
.multistep-form-wrap {
    height: 100vh !important;
    overflow-x: hidden !important;
}
.multistep-form-wrap {
    padding: 60px 30px !important;
}
.multistep-form-wrap div#step1, div#step2 {
    /* max-width: 85%; */
    /* width: 85%; */
}
.multistep-form-wrap h2 {
    margin-top: 0px;
}
.step {
    padding: 20px;
}
.form-check.form-switch {
    display: flex
;
}
.multistep-form-wrap {
    padding: 20px;
}
.login-form-section .col-md-5 {
    display: none;
}
.login-form-section .login-form-wrap .col-md-5 {
    display: none;
}
.login-form-section .col-md-5 {
    display: none;
}
.login-box form h3 {
    flex-wrap: wrap;
}
.about-text h2 {
    font-size: 32px;
}
.inner-banner-text h1 {
    font-size: 32px !important;
    line-height: 40px !important;
}
section.inner-banner-sec {
    padding: 50px 0px;
}
.logo-box figure img {
  width: 115px;
}
.banner-wrap .banner-text {
    width: 100% !important;
}
.banner-wrap .login-wrap {
    width: 100% !important;
}
.login-banner-wrap .login-wrap ul li {
    width: 100% !important;
}
.logo-box figure img {
    width: 150px !important;
}
.banner-wrap {
    padding: 40px 0px;
}
.banner-wrap .banner-text h1 br {
    display: none;
}
.banner-wrap .banner-text h1 {
    line-height: 32px;
}
section.how-it-work-sec .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
section.how-it-work-sec .row .row {
    row-gap: 25px;
}
.heading-wrap h2 {
    font-size: 36px !important;
}
section.benefits-sec .row .row {
    row-gap: 25px;
}
section.benefits-sec {
    background-size: cover !important;
}
.why-choose-wrap {
    margin-bottom: 50px;
}
section.used-by-sec {
    padding: 40px 0px;
}
section.used-by-sec .heading-wrap {
    margin-bottom: 50px;
}
.testimonials-box {
    text-align: center !important;
    padding: 0px !important;
}
.testimonials-box p {
    font-size: 16px;
}
.testimonials-box figure img {
    display: none !important;
}
.heading-wrap {
    width: 100%;
    margin: 0 auto 30px;
}
.industries-wrap ul {
    gap: 10px;
    justify-content: center;
}
.industries-wrap ul li {
    width: calc(33% - 10px);
    border-right: none;
    border-bottom: none;
    border: 1px solid #fff !important;
}
.call-to-action-box h4 {
    font-size: 36px;
}
.call-to-action-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
}
.call-to-action-box {
    text-align: center;
    margin-bottom: 30px;
}
.explore-loads a.btn-style1 {
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.call-to-action-wrap {
    padding: 30px 30px;
}
.call-to-action-box p {
    font-size: 16px;
    margin-bottom: 0px;
}
section.call-to-action-sec {
    padding: 40px 0px;
}
footer {
    object-fit: cover !important;
}
footer {
    padding: 40px 0px;;
}
.footer-logo img {
    width: 130px;
}
.footer-box {
    margin-top: 20px;
}
.footer-box .footer-title h4 {
    font-size: 20px;
}
.footer-box .categories ul li {
    width: 100%;
}
.footer-box .footer-inner ul li a {
    font-size: 14px;
}
.terms-wrap ul li a {
    font-size: 14px;
}
.copy-right-wrap p {
    font-size: 14px;
}
.copy-right-wrap {
    flex-direction: column-reverse;
}
.terms-wrap ul {
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.copy-right-wrap p {
    text-align: center;
}
.never-run-text-text {
    position: relative;
    margin-top: 40px;
}
.our-values-wrap h2 {
    font-size: 32px;
}
.making-freight-wrap h2 {
    font-size: 32px;
}
.banner-text h1 {
    font-size: 32px;
    line-height: 44px;
}
section.banner-sec .carousel-caption {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section.banner-sec .login-wrap ul {
    flex-direction: row;
}
#myHeader .nav-wrap nav.navbar ul.navbar-nav li a {
    color: #fff;
    padding: 10px;
}
.profile-wrap>ul>li>a {
    color: #ffffff;
    padding: 10px;
}
.industries-wrap ul li {
    width: calc(50% - 18px) !important;
}
.why-choose-wrap figure img {
    width: 100% !important;
}
.profile-wrap>ul>li>a {
    color: #ffffff !important;
}
}


/* media query max-width 575 */
@media(max-width: 575px){
 section.how-it-work-sec .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}
.industries-wrap ul li {
    width: calc(100% - 0px) !important;
}
.profile-wrapper .step {
    flex-wrap: wrap;
}
.profile-wrapper .profile-wrap {
    flex-grow: 1;
    padding-left: 0px;
}


.never-run-text-text p {
    margin: 30px 0px 0px;
}

.making-freight-box {
    flex-wrap: wrap;
}
.benefits-box .count-size {
    display: none;
}
.why-choose-box ul li {
    width: 100% !important;
    text-align: center;
}
.why-choose-box ul {
    flex-wrap: wrap;
}
.why-choose-box ul li figure {
    margin: 0 auto;
}
.industries-wrap ul li {
    width: calc(50% - 10px);
}
.industries-wrap ul li h3 a {
    color: #ffffff;
    font-size: 15px;
}
.copy-right-wrap {
    flex-direction: column-reverse;
}
.terms-wrap ul {
   justify-content: flex-start;
}
.terms-wrap ul {
    flex-direction: column;
}
.terms-wrap ul li:after{
    display: none;
}
.terms-wrap {
    margin-bottom: 20px;
}
}



/* media query max-width 500 */

@media(max-width: 500px){

.banner-wrap .login-wrap ul {
    flex-wrap: wrap;
}

.banner-wrap .login-wrap ul li {
    width: 100%;
}  
.trusted-wrap ul li {
    width: calc(33% - 12px);
} 
.values-text {
    text-align: center;
}
.values-wrap {
    justify-content: center;
    flex-direction: column;
}
.values-wrap .values-icon {
    text-align: center;
}
.our-values-wrap h2 {
    text-align: center;
}
}

/* media query max-width 420 */
@media(max-width: 420px){
.buttons-wrap {
    flex-wrap: wrap;
}
.buttons-wrap button {
    width: 100% !important;
}
}



/* media query max-width 400 */
@media(max-width: 400px){
.trusted-wrap ul li {
    width: calc(50% - 10px);
}
.industries-wrap ul li {
    width: calc(100% - 0px);
}
.buttons-wrap {
    flex-wrap: wrap;
}
}



/* media query max-width 380 */
@media(max-width: 380px){

}


/* media query max-width 360 */
@media(max-width: 360px){

}